  <aside class="">
    <h2  routerLink="/" class="text-2xl font-bold text-blue-600 cursor-pointer">LLM Desk</h2>
    <nav class="space-y-2 py-5">
      <a  routerLink="/dashboard"  class="block px-3  py-1 rounded-lg hover:bg-blue-50 cursor-pointer">🏠 Dashboard</a>
      <a routerLink="/agents" class="block px-3 py-1 rounded-lg hover:bg-blue-50 cursor-pointer">📊 Agent</a>
      <!-- <a class="block px-3 py-1 rounded-lg hover:bg-blue-50 cursor-pointer">👥 Users</a>
      <a class="block px-3 py-1 rounded-lg hover:bg-blue-50 cursor-pointer">⚙️ Settings</a> -->
    </nav>
  </aside>
