/* Typing effect */
.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #6b7280;
    /* Tailwind gray-500 */
    width: 0;
    animation: typing 3.5s steps(40, end) forwards,
        blink .75s step-end infinite;
}

/* Typing keyframes */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 75%
    }
}

/* Blinking cursor */
@keyframes blink {
    50% {
        border-color: transparent
    }
}